<div class="alert alert-block alert-info">
<b>Market Data</b>
</div>

***1. Yahoo Finance***

In [1]:
import pandas
import pandas_datareader as pdr
from datetime import datetime

sd = datetime(2020, 5, 1)
ed = datetime(2020, 12, 31)

vix = pdr.get_data_yahoo(symbols='^vix', start=sd, end=ed)["Adj Close"]

ModuleNotFoundError: No module named 'pandas_datareader'

In [4]:
pdr.get_data_yahoo(symbols=['^vix','2330.TW'], start=sd, end=ed)["Adj Close"]

Symbols          ^vix     2330.TW
Date
2020-04-30  34.150002         NaN
2020-05-01  37.189999         NaN
2020-05-04  35.970001  289.640015
2020-05-05  33.610001  290.130951
2020-05-06  34.119999  290.621857
...               ...         ...
2020-12-25        NaN  511.000000
2020-12-28  21.700001  515.000000
2020-12-29  23.080000  515.000000
2020-12-30  22.770000  525.000000
2020-12-31  22.750000  530.000000

[176 rows x 2 columns]

***2. FX Crawler***

In [5]:
import pandas
dfs = pandas.read_html('https://rate.bot.com.tw/xrt/quote/l6m/JPY')

In [6]:
df = dfs[0].iloc[:,0:6]
df.columns = ['掛牌日期', '幣別', '現金匯率買入','現金匯率賣出', '即期匯率買入','即期匯率賣出']

In [7]:
df.head()

         掛牌日期        幣別  現金匯率買入  現金匯率賣出  即期匯率買入  即期匯率賣出
0  2021/03/12  日圓 (JPY)  0.2491  0.2619  0.2564  0.2604
1  2021/03/11  日圓 (JPY)  0.2502  0.2630  0.2575  0.2615
2  2021/03/10  日圓 (JPY)  0.2510  0.2638  0.2583  0.2623
3  2021/03/09  日圓 (JPY)  0.2514  0.2642  0.2587  0.2627
4  2021/03/08  日圓 (JPY)  0.2513  0.2641  0.2586  0.2626

<div class="alert alert-block alert-warning">
<b>Fundamental Data</b>
</div>

__***1. FRED (https://fred.stlouisfed.org/series)***__

In [10]:
data = pdr.DataReader(name = 'DGS10', data_source = 'fred', start = sd, end = ed)
data.head()

            DGS10
DATE
2020-05-01   0.64
2020-05-04   0.64
2020-05-05   0.66
2020-05-06   0.72
2020-05-07   0.63

***2. TWSE***

In [11]:
import requests
payload = {
  'encodeURIComponent': '1',
  'step': '1',
  'firstin': '1',
  'TYPEK': 'sii',
  'year': '109',
  'season': '01'    
}

url = 'https://mops.twse.com.tw/mops/web/ajax_t163sb19'

res = requests.post(url, data = payload)
import pandas
dfs = pandas.read_html(res.text)
df = dfs[0]
df[df['產業別'] != '加權平均數']

,公司代號,公司名稱,產業別,基本每股盈餘(元),普通股每股面額,營業收入,營業利益,營業外收入及支出,稅後淨利
0,1101,台灣水泥股份有限公司,水泥工業,0.55,新台幣 10.0000元,21976200.0,4460154.0,273722.0,3481119.0
1,1109,信大水泥股份有限公司,水泥工業,0.27,新台幣 10.0000元,1165580.0,217284.0,-29077.0,137170.0
2,1102,亞洲水泥股份有限公司,水泥工業,0.24,新台幣 10.0000元,13138882.0,2021639.0,-453351.0,1130599.0
3,1108,幸福水泥股份有限公司,水泥工業,0.23,新台幣 10.0000元,1104720.0,110132.0,-5836.0,93609.0
4,1104,環球水泥股份有限公司,水泥工業,0.07,新台幣 10.0000元,1253758.0,67425.0,-16843.0,48161.0
6,1110,東南水泥股份有限公司,水泥工業,-0.05,新台幣 10.0000元,387944.0,-12597.0,-17552.0,-30941.0
7,1103,嘉新水泥股份有限公司,水泥工業,-0.33,新台幣 10.0000元,495334.0,-158911.0,-46824.0,-214194.0

<div class="alert alert-block alert-danger">
<b>Alternative Data</b>
</div>

***1. News***

In [12]:
import requests
res = requests.get('https://news.ltn.com.tw/list/breakingnews')

In [13]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text,'lxml')

In [14]:
newsary = []
for li in soup.select('ul.list li'):
  #print(li)
  title = li.select_one('.title').text
  dt = li.select_one('.time').text
  link = li.select_one('a').get('href')
  newsary.append({'title':title, 'time': dt, 'link':link})

In [15]:
import pandas
newsdf = pandas.DataFrame(newsary)
newsdf.head()

,title,time,link
0,軍情動態》因應中國艦隊擴張 美軍增購137枚長程反艦飛彈,17:20,https://news.ltn.com.tw/news/world/breakingnew...
1,高雄長庚研究：喝假酒易致甲醇中毒 洗腎甚至死亡,17:18,https://health.ltn.com.tw/article/breakingnews...
2,美中勢力消長！資誠：35％全球CEO看好美國市場 力壓中國,17:17,https://ec.ltn.com.tw/article/breakingnews/346...
3,永和大陳社區單元 5、6、7都更 招商流標,17:17,https://news.ltn.com.tw/news/life/breakingnews...
4,全原運》為高雄代表隊授旗 陳其邁：獎金加碼、抱回所有金牌,17:14,https://sports.ltn.com.tw/news/breakingnews/34...

***2. Photo***

In [17]:
import requests
res = requests.get('https://news.ltn.com.tw/ajax/breakingnews/all/4')
jd = res.json()
import pandas
df = pandas.DataFrame(jd['data'].values())
import time
newsary = []
for i in range(2,5):
  res = requests.get('https://news.ltn.com.tw/ajax/breakingnews/all/{}'.format(i))
  time.sleep(2)
  #print(res.json())
  jd = res.json()
  df = pandas.DataFrame(jd['data'].values())
  newsary.append(df)

In [18]:
newsdf = pandas.concat(newsary)

In [19]:
newsdf.head()

,no,title,bigphoto_flag,photo_S,photo_L,url,time,type_en,group,type_cn,local,summary,video,width,height,localUrl,tagUrl,style,tagText
0,3464968,鳳梨、高麗菜都要救！農金安心GO穩價助銷,0,https://img.ltn.com.tw/Upload/business/page/40...,https://img.ltn.com.tw/Upload/business/page/80...,https://ec.ltn.com.tw/article/breakingnews/346...,16:52,business,breakingnews,財經,,\n\n\n中國宣布暫停進口台灣鳳梨，衝擊果農生計，全國農業金庫於上週舉辦「把台灣鳳梨推向國...,,702,614,,list/breakingnews/business,None,財經
1,3464969,中職》新球季明開打 賴神：應援球衣準備好了嗎？,0,https://img.ltn.com.tw/Upload/sports/page/400S...,https://img.ltn.com.tw/Upload/sports/page/800S...,https://sports.ltn.com.tw/news/breakingnews/34...,16:52,sports,breakingnews,體育,,\n\n\n中華職棒新球季開幕戰明天登場，由去年總冠軍統一獅隊，在台南主場迎戰中信兄弟，將進...,,1100,732,,list/breakingnews/sports,None,體育
2,3464959,AZ疫苗若遭醫護拒絕 蘇貞昌、陳時中將帶頭接種,0,https://img.ltn.com.tw/Upload/news/250/2021/03...,https://img.ltn.com.tw/Upload/news/600/2021/03...,https://news.ltn.com.tw/news/life/breakingnews...,16:51,life,breakingnews,生活,,我國向阿斯特捷利康（AZ）藥廠洽購的武漢肺炎（新型冠狀病毒病，COVID-19）疫苗已有第一...,,800,450,,list/breakingnews/life,None,生活
3,3464958,基層農會3巨頭改選 彰縣4鄉鎮總幹事難產,0,https://img.ltn.com.tw/Upload/news/250/2021/03...,https://img.ltn.com.tw/Upload/news/600/2021/03...,https://news.ltn.com.tw/news/politics/breaking...,16:51,politics,breakingnews,政治,,彰化縣基層農會今舉行3巨頭理事長、常務監事、總幹事改選，26鄉鎮市召開理監事會議選出理事長、...,,800,530,,list/breakingnews/politics,None,政治
4,3464858,區間測速帶來新商機？！ 北宜公路擺香腸攤發大財,0,https://img.ltn.com.tw/Upload/news/250/2021/03...,https://img.ltn.com.tw/Upload/news/600/2021/03...,https://news.ltn.com.tw/news/life/breakingnews...,16:50,life,breakingnews,生活,,\n〔影音新聞／綜合報導〕北宜公路實施區間測速，反而能促進當地經濟發展？日前有反對區間測速和...,1,800,450,,list/breakingnews/life,None,生活